body {
  font-family: 'Press Start 2P', cursive;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(../assets/memory/dirt.png);
  background-color: black; 
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(90px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  height: 90px; 
  background: #f67070;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); 
}

.card img {
  height: 10px;
  width: 10px;
}

.game_container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  max-height: 500px;
  
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.game_controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  width: 100%;
}

.game_controls button {
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 1em;
  background-color: #9e9e9e;
  color: white;
  border-left: #7a7a7a 5px solid;
  border-bottom: #646464 5px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Press Start 2P', cursive;
}

.game_controls button:hover {
  background-color: #333;
  border-left: #282828 5px solid;
  border-bottom: #212121 5px solid;
}
#game_title {
  font-size: 2em;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  background-color: #9e9e9e;
  border: 1px solid #ccc;

  border-left: #7a7a7a 5px solid;
  border-bottom: #646464 5px solid;
  border-top: #dddddd 2px solid;
  
}

#instructions_button {
  font-size: 1em;
  width: 100%;
}
#instructions {
  color: white;
  background-color: #9e9e9e;
  border: 1px solid #ccc;
  border-left: #7a7a7a 5px solid;
  border-bottom: #646464 5px solid;
  border-top: #dddddd 2px solid;
  padding: 20px;
  margin-top: 20px;
  overflow: hidden;
  max-height: 0;
  width: 320px;
  opacity: 0;
  transition: opacity 0.5s, max-height 0.5s ease-in-out;
}

#instructions.open {
  max-height: 500px;
  opacity: 1;
}

#reset_button {
  display: none;
  font-size: 1em;
  width: 100%;
}

#start_button {
  font-size: 1em;
  width: 100%;
}

#scores {
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin-top: 20px;

}

#score_board {
  color: white;
  background-color: #9e9e9e;
  border: 1px solid #ccc;
  border-left: #7a7a7a 5px solid;
  border-bottom: #646464 5px solid;
  border-top: #dddddd 2px solid;
  padding: 5px;
}
#high_score_board {
  color: white;
  background-color: #9e9e9e;
  border: 1px solid #ccc;
  border-left: #7a7a7a 5px solid;
  border-bottom: #646464 5px solid;
  border-top: #dddddd 2px solid;
  padding: 5px;
}

#win_board {
  text-align: center;
  display: none;
  width: 100%;
  color: white;
  background-color: #9e9e9e;
  border: 1px solid #ccc;
  border-left: #7a7a7a 5px solid;
  border-bottom: #646464 5px solid;
  border-top: #dddddd 2px solid;
  padding: 5px;
}

@media (max-width: 600px) {
  .card {
    font-size: 0.8rem;
  }

  .card img {
    width: 10%;
    height: 10%;
  }

  .game_container {
    width: 95vw;
    height: 95vh;
  }
}

